body {
  margin: 0;
  text-align: center;
}


section {
  width: 100%;

}

section#navbar {
  background-color: #c9daf8;
  height: 15vh;
}

section#search {
  background-color: #ffffff;
  height: 20vh;
}

section#jumbotron {
  background-color: #EDEDE3;
  height: 60vh;
}

section#trending {
  background-color: #93c47dff;
  height: 20vh;
}
